<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830711303647-m72vsa0gv8ig15igho19k988c7638qjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830711303647-m72vsa0gv8ig15igho19k988c7638qjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAl78n-CN36GYTMl9IomWM53PQNvMfCEbM</string>
	<key>GCM_SENDER_ID</key>
	<string>830711303647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notely</string>
	<key>PROJECT_ID</key>
	<string>notely-693b9</string>
	<key>STORAGE_BUCKET</key>
	<string>notely-693b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830711303647:ios:de346fba90120b2122c86a</string>
</dict>
</plist>